body{background-color: #FAEBD7}
h1{text-align:left ;color:#0000cc;font-family:Verdana; font-size: 20pt}
a:link{color: #3366FF; text-decoration: none}
a:visited{color:#0000cc; text-decoration: none}
a:hover{color:#FF9933; text-decoration: underline}